.large-image {
  max-width: 1200px;
}


.small-img {
  width: 350px;
  height: 400px;
}

/* -------------------------------------------Special padding/margins/text */


.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}