/* -------------------------------------------general padding/margins/text/colour */

body {
  background-color: #525252;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

.section {
  overflow: hidden;
}

.container {
  max-width: 1500px;
}

@media only screen and (max-width: 600px) {
  .row {
    padding: 0;
    margin: 0;
  }
}

.section {
  position: relative;
}

.section-heading {
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: 900;
}

/*-------------------------------------------navbar */

.navbar {
  background-color: #525252;
}



.modal-backdrop {
  position: unset !important;
}

.form-content {
  color: #525252;
}

.form-control {
  padding-bottom: 10px;
}

.form-check {
  padding-top: 10px;
  padding-bottom: 10px;
}




/*-------------------------------------------Landing Page */

.landing-page {
  height: 100vh;
  background: url('../images/battle-of-waterloo-head.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.jumbotron {
  background-color: transparent;
  color: #FFFFFF;
}

.jumbotron-header {
  font-weight: 900;
}

.jumbotron-text {
  font-weight: 700;
}

.block-divider {
  background-color: #FFFFFF;
}

/*-------------------------------------------what happened */

.what-happened {
  padding-top: 50px;
  padding-bottom: 10px;
}

.card {
  background-color: #525252;
}

.card-title {
  font-weight: 700;
}

.card-text {
  font-weight: 400;
}

/*-------------------------------------------listen */

.listen {
  background-color: #FFFFFF;
  color: #525252;
  padding-top: 50px;
  padding-bottom: 50px;
}

.audio-header {
  font-weight: 700;
}

.audio-content {
  padding-top: 20px;
}

.blockquote-footer {
  background-color: #FFFFFF;
  color: #525252;
}

/*-------------------------------------------watch */

.video {
  padding-top: 50px;
  padding-bottom: 30px;
}

.watch-content {
  padding-top: 20px;
}

.video-headers {
  font-weight: 700;
}

.iframe-container {
  position: relative;
  width: 80%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/*-------------------------------------------magazine */

.magazine {
  padding-top: 50px;
  padding-bottom: 30px;
}

.magazine-title {
  font-weight: 700;
}

.magazine-text {
  font-size: 25px;
}

@media screen and (max-width:1000px){
  .magazine-text {
    font-size: 20px;
  }
}
@media screen and (max-width:500px) {
  .magazine-text {
    font-size: 15px;
  }
}

/*-------------------------------------------footer */

footer {
  background-color: #FFFFFF;
  color: #525252;
  min-height: 120px;
  margin: 0;
}

.footer-heading {
  font-weight: 700;
}

.page-footer a {
  color: #525252;
  text-decoration: none;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.page-footer a:hover {
  color: #0099CC;
}



.page-footer dd a {
  text-decoration: none;
  color: #525252;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.page-footer dd a:hover {
  color: #0099CC;
}

.nav-list {
  padding: 0;
}
.page-footer li {
  list-style: none;
}

.page-footer li a  {
  color: #525252;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.page-footer li a:hover {
  color: #0099CC;
  text-decoration: none;
}

.page-footer hr {
  background-color: #525252;
  opacity: 0.5;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-links li {
  display: inline-block;
  margin-bottom: 4px
}

.social-links a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}


